<%= form_with(model: fake_api, local: true) do |form| %>
  <% if fake_api.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fake_api.errors.count, "error") %> prohibited this fake_api from being saved:</h2>

      <ul>
      <% fake_api.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :method %>
    <%= form.text_field :method, id: :fake_api_method %>
  </div>

  <div class="field">
    <%= form.label :uri %>
    <%= form.text_field :uri, id: :fake_api_uri %>
  </div>

  <div class="field">
    <%= form.label :response %>
    <%= form.text_field :response, id: :fake_api_response %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
